# Windows image file caches
Thumbs.db
ehthumbs.db

# Folder config file
Desktop.ini

# Recycle Bin used on file shares
$RECYCLE.BIN/

# Windows Installer files
*.cab
*.msi
*.msm
*.msp

# Windows shortcuts
*.lnk

# =========================
# Operating System Files
# =========================

# OSX
# =========================

.DS_Store
.AppleDouble
.LSOverride

# Thumbnails
._*

# Files that might appear in the root of a volume
.DocumentRevisions-V100
.fseventsd
.Spotlight-V100
.TemporaryItems
.Trashes
.VolumeIcon.icns

# Directories potentially created on remote AFP share
.AppleDB
.AppleDesktop
Network Trash Folder
Temporary Items
.apdisk
/RssAgregator.BAL/bin
/RssAgregator.BAL/obj
/RssAgregator.BAL.Interfaces/bin
/RssAgregator.BAL.Interfaces/obj
/RssAgregator.CORE/bin
/RssAgregator.CORE/obj
/RssAgregator.DAL/bin
/RssAgregator.DAL/obj
/RssAgregator.DAL.Interfaces/bin
/RssAgregator.DAL.Interfaces/obj
/RssAgregator.Models/bin
/RssAgregator.Models/obj
/RssAgregator.TestApp/bin
/RssAgregator.TestApp/obj
/RssAgregator.WEB/bin
/RssAgregator.WEB/obj
/RssAgregator.WEB.Tests/bin
/RssAgregator.WEB.Tests/obj
/.vs/config/applicationhost.config
/.vs/RssAgregator/v14/.suo
/RssAgregator.BAL/RssAgregator.BAL.csproj.user
/RssAgregator.BAL.Interfaces/RssAgregator.BAL.Interfaces.csproj.user
