@import "_mixins.less";

body {
    font-family: OpenSans, 'OpenSans', sans-serif;
    font-size: 13px;
    font-weight: normal;
    .text();
    padding: 15px;
}

a {
    .link();
    text-decoration: underline;
}
