.transclude-video-active {
  position: absolute;
  top: 0;
}
.transclude-video-inactive {
  width: 300px;
  height: 200px;
  position: inherit;
  display: inline-block;
}
.transclude-video-inactive iframe {
  width: 300px;
  height: 200px;
  pointer-events: none;
}
.transclude-video-inactive .video-js {
  width: 300px;
  height: 200px;
  pointer-events: none;
}