.btn-invisible {
  background-color: transparent;
  border: none;
  box-shadow: none;
  text-shadow: none;
}
.text-slice {
  text-overflow: ellipsis;
  overflow: hidden;
  white-space: nowrap;
}
.clearfix {
  zoom: 1;
}
.clearfix:before,
.clearfix:after {
  content: "";
  display: table;
}
.clearfix:after {
  clear: both;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Regular.eot");
  src: url("../fonts/OpenSans-Regular.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Regular.woff") format("woff"), url("../fonts/OpenSans-Regular.ttf") format("truetype");
  font-style: normal;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Italic.eot");
  src: url("../fonts/OpenSans-Italic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Italic.woff") format("woff"), url("../fonts/OpenSans-Italic.ttf") format("truetype");
  font-style: italic;
  font-weight: normal;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Semibold.eot");
  src: url("../fonts/OpenSans-Semibold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Semibold.woff") format("woff"), url("../fonts/OpenSans-Semibold.ttf") format("truetype");
  font-style: normal;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-SemiboldItalic.eot");
  src: url("../fonts/OpenSans-SemiboldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-SemiboldItalic.woff") format("woff"), url("../fonts/OpenSans-SemiboldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: 600;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-Bold.eot");
  src: url("../fonts/OpenSans-Bold.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-Bold.woff") format("woff"), url("../fonts/OpenSans-Bold.ttf") format("truetype");
  font-style: normal;
  font-weight: bold;
}
@font-face {
  font-family: "OpenSans";
  src: url("../fonts/OpenSans-BoldItalic.eot");
  src: url("../fonts/OpenSans-BoldItalic.eot?#iefix") format("embedded-opentype"), url("../fonts/OpenSans-BoldItalic.woff") format("woff"), url("../fonts/OpenSans-BoldItalic.ttf") format("truetype");
  font-style: italic;
  font-weight: bold;
}
.l-accent {
  color: #90a7d0;
}
.link {
  color: #4e79c7;
}
.m-accent {
  color: #3a5a94;
}
.background {
  color: #1c2b47;
}
.text {
  color: #313947;
}
body {
  font-family: OpenSans, 'OpenSans', sans-serif;
  font-size: 13px;
  font-weight: normal;
  color: #313947;
  padding: 15px;
}
a {
  color: #4e79c7;
}
a.text-link {
  text-decoration: underline;
}
.audio-player-controls .audio-player-control {
  padding: 3px;
}
.audio-player-menu-container .audio-player-search {
  width: 100%;
}
.transclude-video-active {
  position: absolute;
  top: 0;
}
.transclude-video-inactive {
  width: 300px;
  height: 200px;
  position: inherit;
  display: inline-block;
}
.transclude-video-inactive iframe {
  width: 300px;
  height: 200px;
  pointer-events: none;
}
.transclude-video-inactive .video-js {
  width: 300px;
  height: 200px;
  pointer-events: none;
}
.top-menu .menu-item {
  font-size: 20px;
  font-weight: 600;
  width: 8.33333%;
  text-align: center;
}
.top-menu .menu-item.active a {
  background-color: #1c2b47;
  color: #fff;
}
.top-menu .menu-item a {
  color: #1c2b47;
  border-radius: 0;
}
.content-menu .menu-item {
  text-transform: uppercase;
}
.content-menu .menu-item a {
  text-decoration: none;
}
.invalid-data-on-page .ct-app .ct-ignition__button--confirm {
  display: none;
}
.post-add-edit {
  margin-top: 50px;
}
.post-add-edit .post-editable-container {
  min-height: 100px;
  outline: none;
  border-color: #9ecaed;
  box-shadow: 0 0 10px #9ecaed;
}
.word-cloud .selection-box {
  pointer-events: none;
  position: absolute;
  box-shadow: 0 0 100px 100px #ff0000;
  border-radius: 50px;
  cursor: pointer;
}