<span>
    Start by pressing the "Pencil icon" and make changes in glowind area below:
</span>
<div class="post-add-edit">
    <div><span>Post name:</span><input type="text" ng-model="postName" ng-change="postDataOnChange(2, 'postName', 'invalidPostName')" /></div>
    <div ng-show="invalidPostName"><span ng-bind="invalidPostNameMessage"></span></div>

    <div><span>Post tags separated by coma:</span><input type="text" ng-model="postTags" ng-change="postDataOnChange(2, 'postTags', 'invalidPostTag')" /></div>
    <div ng-show="invalidPostTag"><span ng-bind="invalidPostTagMessage"></span></div>

    <div><span>Is Adult content:</span><input type="checkbox" ng-model="isAdult" /></div>
    <div class="post-editable-container" data-editable data-name="main-content" ng-bind-html="::postContent">
    </div>
</div>