@{
    Layout = null;
}

<!DOCTYPE html>
<html>
<head>
    <meta name="viewport" content="width=device-width" />
    <title>Not supported browser</title>
</head>
<body>
    <h2>
        Sorry, bu this browser is not supported
    </h2>
    <a href="/IgnoreNotSupportedBrowser">Yes, I want proceed with not supported browser</a>
</body>
</html>